// Environment configuration for the backend server
// Constains the template for the .env file, which is used to configure environment variables for the backend server
// This file should be copied to .env and filled with actual values before running the server.

// For now the database ins't linked to the backend, so we don't need to configure it in the .env file
// We willl be adding the url database though, as we will be using it in the future when we link the backend to the database

PORT=8080